@model IEnumerable<Lr2.Models.Product>
@{
    ViewData["Title"] = "Каталог товаров";
}
<h3>Каталог товаров</h3>
<table class="table table-bordered">
    <tr class="table-dark">
        <td>Название</td>
        <td>Описание</td>
        <td>Количество</td>
        <td>Цена</td>
        <td>Продавец</td>
        <td></td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Quantity</td>
            <td>@product.Price</td>
            <td>@product.User</td>
            <td><a href="~/Home/Buy/@product.Id">Купить</a></td>
        </tr>
    }
</table>
<form action="~/Home/Add">
    <button>Добавить</button>
</form>
